{{# __type__ === 'header'}}


<tr style='background-color:green; cursor:pointer;' class='{{frozenRow ? "frozenRow" : ""}}' on-click='toggleGroupingVisibility' data-key='{{key}}'>
  <td>Key : {{key}}</td>
</tr>


{{/ __type__ === 'header' }}

{{# __type__ === undefined }} <!--undefined === a piece of data - pretty counter-intuitive-->


<tr class='{{frozenRow ? "frozenRow" : ""}}' >
  
  {{# ({row : .}) }} <!--pass both the current row and virtual column to the partial - a somewhat hacky of passing a reference to both the frozen row and the current virtual Column -->

    {{# ({frozenColumn : true}) }} <!-- pattern for adding info to the context-->
    {{#frozenColumns}}
    
    {{>tableCell}}
    
    {{/frozenColumns}}
    {{/ ({frozenColumn : true}) }}

    {{#virtualColumns}}
    {{>tableCell}}
    {{/virtualColumns}}


  {{/ ({row : .}) }}

</tr>


{{/ __type__ === undefined}}


{{# __type__ === 'footer'}}

<tr>
  <td>Sum</td>
  <td>{{sum['index']}}</td>
</tr>


{{/ __type__ === 'footer'}}

