<div class='table-container' >
  <table on-wheel='wheel' on-mousewheel='wheel'>
    <thead>
      <tr>

        {{#frozenColumns}}
        <th>{{.}}</th>
        {{/frozenColumns}}

        {{#virtualColumns}}
        <th>{{.}}</th>
        {{/virtualColumns}}
      </tr>
    </thead>
    <tbody>

      {{#frozenRows}}
        <tableRow row='{{.}}' virtualColumns='{{virtualColumns}}' />
      {{/frozenRows}}
    
      {{#virtualRows}}
        <tableRow row='{{.}}' virtualColumns='{{virtualColumns}}' />
      {{/virtualRows}}

    </tbody>
  </table>

</div>