<div class='table-container' >
  <table on-wheel='wheel' on-mousewheel='wheel'>
    <thead>
      <tr>

        {{#frozenColumns}}
        <th class='frozenColumn'>{{.}}</th>
        {{/frozenColumns}}

        {{#virtualColumns}}
        <th>{{.}}</th>
        {{/virtualColumns}}
      </tr>
    </thead>
    <tbody>

      {{# ({frozenRow : true}) }}

      {{#frozenRows}} 
        {{>tableRow}}
      {{/frozenRows}}

      {{/ ({frozenRow: true}) }}
    
      {{#virtualRows}}
        {{>tableRow}}
      {{/virtualRows}}

    </tbody>
  </table>

</div>